.App {
  text-align: center;
}

.title {
  text-align: center;
  background-color: rgb(1, 14, 49);
  border: 2px solid rgb(205, 198, 255);
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 50px;
  height: 100px;
}

html {
  scroll-behavior: smooth;
}

.title p:hover {
  cursor: pointer;
}

.main-heading {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to right, #101010, #2e126b);
  color: white;
  transition: font-size 2s ease-in;
}

.main-heading p {
  font-size: 28px;
  transition: font-size 2s ease-in;
  color: hsl(261, 28%, 90%);
  transition: color 0.5s ease, scale 0.5s ease-in;
  animation: glow 1.9s infinite ease-in-out;
}

#welcome-text {
  font-size: 50px;
  letter-spacing: 5px;
  transition: letter-spacing 1s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#welcome-text:hover {
  letter-spacing: 5px;
  cursor: none;
}

.flex-container {
  margin-bottom: 80px;
}

@keyframes glow {
  0% {
    color: hsl(258, 100%, 98%, 0.5);
  }
  50% {
    color: hsl(0, 0%, 100%, 1);
  }
  100% {
    color: hsl(0, 0%, 100%, 0.5);
  }
}
