.course_date_display {
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 3px;
  text-align: center;
  transition: transform 1s ease-in, color 1s ease-in;
  width: 200px;
  height: 40px;
  position: relative;
  top: 190px;
  transition: transform 0.5s ease;
}
